$blue: #577EC0;
$blue-darker: #3f5a88;
$gray: #E0E0E0;
$gray-darker: #a19d9d;
$yellow: #f7c53b;
$dark-yellow: darken($yellow, 15%);
$red: #da473b;
$green: #0f9c56;
$font-color: #656464;
$font-body: 'Lato', sans-serif;
$font-menu: 'Raleway', sans-serif;
