<!DOCTYPE html>
<html ng-app="gdgsite">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Google Developers Group Duque de Caxias</title>
    <link rel="stylesheet" href="./public/css/style.css">
</head>

<body>
    <!-- HEADER -->
    <header>

        <!-- MENU -->
        <div class="menu">
            <a href=""><img class="img-logo" src="public/img/gdg-duquedecaxias-logo.png" alt="Google Developers Group - Duque de Caxias">
            <nav>
                <ul class="nav-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                    <li><a href="#">Meetup</a></li>
                    <li><a href="#">Projetos</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#footer">Contatos</a></li>
                </ul>
                <span class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <div class="nav-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                    <li><a href="#">Meetup</a></li>
                    <li><a href="#">Projetos</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#footer">Contatos</a></li>
                </div>
            </nav>
        </div>

        <!-- IMAGEM -->
        <img class="img-header" src="public/img/header.png" alt="Cidade de Duque de Caxias">

        <!-- BOX-EVENTO -->
        <div class="header-box">
            <h1>HackSite</h1>
            <h2><img src="public/img/local-icon.png"/> Universidade Unigranrio</h2>
            <h3>Rua Professor José de Souza Herdy, 1660 - Jardim Vinte e Cinco de Agosto - Duque de Caxias - RJ, 25071-202</h3>
            <h2><img src="public/img/calendar-icon.png"/> Sáb, 11 de fev, às 10:00</h2>
        </div>
    </header>

    <!-- SECTION: SOBRE -->
    <section class="sobre">
        <h2>
            O <span class="gblue">G</span><span class="gred">o</span><span class="gyellow">o</span><span class="gblue">g</span><span class="ggreen">l</span><span class="gred">e</span> <strong>Developers Group Duque de Caxias</strong> é um grupo aberto para desenvolvedores entusiastas. Nosso objetivo é pesquisar e disseminar conhecimento a respeito de tecnologias modernas e principalmente de tecnologias Google como <em>Android</em>, <em>HTML5</em>, <em>AngularJS</em>, <em>APIs</em> e outros.
        </h2>
        <div class="sobre-box">
            <div class="box">
                <img src="public/img/video-chat.png" alt="">
                <h3>Aproximando Pessoas</h3>
                <p>As pessoas acabam se interagindo conforme os eventos ocorrem de uma forma que isso cria um networking entre elas e como consequência, agrega conhecimento para ela.</p>
            </div>
            <div class="box">
                <img src="public/img/lecture.png" alt="">
                <h3>Oportunidades</h3>
                <p>O GDG Duque de Caxias reúne pessoas que tenham um mesmo interesse, sejam desenvolvedores(as), programadores(as), designers, publicitários(as). Todos num mesmo objeto: inovar.</p>
            </div>
            <div class="box">
                <img src="public/img/ereader.png" alt="">
                <h3>Tecnologias</h3>
                <p>Nós focamos no aprendizado de tecnologias Google e tecnologias novas e mais faladas no mercado.</p>
            </div>
        </div>
    </section>

    <!-- SECTION: DIVISÃO
    <section class="group-images border">
      <img src="./public/img/group-image.jpeg" alt="">
    </section>-->

    <!-- SECTION: MEETUP-->
    <!--<section ng-controller="MeetupCtrl">
        <div class="" ng-repeat="event in events track by $index">
            <span>{{event.description}}</span>
            <a ng-href="{{event.event_url}}">{{event.event_url}}</a>
        </div>
    </section>-->

    <!-- SECTION: PROJETOS -->
    <!--<section ng-controller="GitHubCtrl">
        <div class="" ng-repeat="repo in repos track by $index">
            <a ng-href="{{repo.html_url}}">{{repo.name}}</a>
        </div>
    </section>-->

    <!-- SECTION: BLOG -->
    <section></section>

    <!-- FOOTER -->
    <footer id="footer" class="footer border">
        <!-- FORM -->
        <div class="contact-form">
            <h2 class="subtitle">CONTATO</h2>
            <form action="#">
                <p class="control">
                    <input type="text" class="input" id="name" placeholder="Nome">
                    <label for="name" class="label"> Nome </label>
                </p>
                <p class="control">
                    <input type="email" class="input" id="email" placeholder="E-mail">
                    <label for="email" class="label"> E-mail </label>
                </p>
                <p class="control">
                    <textarea name="message" rows="5" cols="80" class="input" id="message" placeholder="Escreva sua mensagem"></textarea>
                    <label for="message" class="label"> Mensagem </label>
                </p>
                <p class="control">
                    <button class="submit" type="submit">SEND MESSAGE</button>
                </p>
            </form>
        </div>

        <!-- SOCIAL MEDIA -->
        <div class="social-media">
            <h2 class="subtitle">REDES SOCIAIS</h2>
            <div class="logo-social">
                <a href="https://plus.google.com/114684774037479279638"><img src="public/img/google-plus.png"/></a>
                <a href="https://twitter.com/gdgcaxias"><img src="public/img/twitter.png"/></a>
                <a href="https://www.facebook.com/gdgduquedecaxias/"><img src="public/img/facebook.png"/></a>
                <a href="https://www.meetup.com/pt-BR/GDGDuquedeCaxias/"><img src="public/img/meetup-logo.png"/></a>
                <a href="https://github.com/GDGDuqueDeCaxias"><img src="public/img/github.png"/></a>
                <a href="https://www.youtube.com/channel/UCUIXzAxIpTVoJWSitGy3C3g"><img src="public/img/youtube.png"/></a>
            </div>
        </div>

    </footer>

    <!-- SCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="src/js/app.js"></script>
    <script src="src/js/services.js"></script>
    <script src="src/js/controller-meetup.js"></script>
    <script src="src/js/controller-github.js"></script>
    <!--<script src="public/js/bundle.js"></script>-->
    <script src="public/js/script.js"></script>
    <script src="public/js/menu.js"></script>
    <script>
      /*if ('serviceWorker' in navigator) {
         navigator.serviceWorker
                  .register('./../sw.js')
                  .then(function() { console.log('ServiceWorker Registrado')});
       }*/
    </script>
</body>
</html>
