* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-size: 62.5%;
  font-family: "Lato", sans-serif; }

::-webkit-input-placeholder {
  color: transparent; }

:-moz-placeholder {
  color: transparent; }

::-moz-placeholder {
  color: transparent; }

:-ms-input-placeholder {
  color: transparent; }

header {
  width: 100%;
  height: auto;
  background-color: #E0E0E0; }

.menu {
  width: 100%;
  height: 52px;
  background-color: #E0E0E0;
  border-bottom: 2px solid #c4c4c4;
  position: fixed;
  z-index: 1; }

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 15px;
  margin-right: 10px;
  margin-left: 20px; }

nav > ul {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

nav > ul > li {
  display: inline;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px; }

nav > ul > li > a {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #656464; }

nav > ul > li > a:hover {
  font-weight: bold;
  border-bottom: 3px solid #f7c53b; }

.nav-toggle {
  cursor: pointer;
  display: block;
  height: 3rem;
  position: relative;
  width: 3rem;
  margin: -0.9rem -0.6rem 0rem 0rem; }

.nav-toggle span {
  background-color: #4a4a4a;
  display: block;
  height: 1px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 50%;
  -webkit-transition: none 86ms ease-out;
  transition: none 86ms ease-out;
  -webkit-transition-property: background, left, opacity, -webkit-transform;
  transition-property: background, left, opacity, -webkit-transform;
  transition-property: background, left, opacity, transform;
  transition-property: background, left, opacity, transform, -webkit-transform;
  width: 15px; }

.nav-toggle span:nth-child(1) {
  margin-top: -6px; }

.nav-toggle span:nth-child(2) {
  margin-top: -1px; }

.nav-toggle span:nth-child(3) {
  margin-top: 4px; }

.nav-toggle:hover {
  background-color: whitesmoke; }

.nav-toggle.is-active span {
  background-color: #00d1b2; }

.nav-toggle.is-active span:nth-child(1) {
  margin-left: -5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
      transform-origin: left top; }

.nav-toggle.is-active span:nth-child(2) {
  opacity: 0; }

.nav-toggle.is-active span:nth-child(3) {
  margin-left: -5px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
      transform-origin: left bottom; }

.img-logo {
  height: 30px;
  float: left;
  position: absolute;
  margin-top: 10px;
  margin-left: 15px; }

.img-header {
  display: block;
  width: 100%;
  position: relative; }

.header-box {
  padding: 20px;
  text-align: center;
  background: #da473b;
  color: #FFFFFF;
  position: relative; }
  .header-box h1 {
    font-weight: bold;
    font-family: "Raleway", sans-serif; }
  .header-box h2 {
    font-weight: bold;
    line-height: 35px; }
  .header-box h3 {
    font-weight: 300; }

.sobre {
  display: block;
  padding: 14% 12%;
  position: relative; }
  .sobre h2 {
    color: #656464;
    font-weight: 300;
    font-size: 30px;
    text-align: center; }
  .sobre span {
    font-weight: 600; }
  .sobre .gblue {
    color: #577ec0; }
  .sobre .gred {
    color: #da473b; }
  .sobre .gyellow {
    color: #dcad2c; }
  .sobre .ggreen {
    color: #0f9c56; }
  .sobre em {
    color: #da473b;
    font-style: normal; }
  .sobre strong {
    color: #555555;
    font-weight: 400; }

.sobre-box {
  margin: 8% -2% 0% -2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .sobre-box .box {
    padding: 0% 2%;
    width: 33%;
    text-align: center; }
  .sobre-box h3 {
    margin: 10px 0px 5px 0px;
    font-size: 17px; }
  .sobre-box p {
    color: #656464;
    font-size: 13px; }

.gallery {
  display: block;
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%; }

.gallery__controls {
  display: block;
  height: auto;
  position: absolute;
  top: 40%;
  width: 100%; }
  .gallery__controls .control__left {
    background-color: transparent;
    border: none;
    cursor: pointer;
    left: 10%;
    position: absolute;
    z-index: 9999; }
  .gallery__controls .control__right {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10%;
    z-index: 9999; }

.gallery__images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: inherit;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  width: auto; }

.gallery__image {
  position: relative;
  height: 100%;
  width: auto; }

.gallery__skin {
  position: absolute;
  height: 300px;
  width: 99vw; }

.gallery::-webkit-scrollbar {
  display: none; }

.footer {
  overflow: auto;
  padding: 70px;
  width: 100%;
  background-color: #E0E0E0; }
  .footer .contact-form {
    padding: 1em 2em;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    float: left;
    padding: 0px 30px;
    width: 50%; }
  .footer .social-media {
    float: left;
    padding: 0px 30px;
    width: 50%; }
  .footer .subtitle {
    font-size: 2em;
    margin-bottom: 1em; }
  .footer .control {
    position: relative;
    margin: 2em 0;
    font-size: 1.8em; }
    .footer .control .label {
      position: absolute;
      top: 1em;
      left: 0;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
      .footer .control .label.is-active {
        top: -1em;
        color: #577EC0;
        font-size: .8em; }
    .footer .control .input {
      width: 100%;
      padding: .6em 0em;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #a19d9d;
      outline: none;
      -webkit-transition: all .4s ease-in;
      transition: all .4s ease-in;
      font-size: 1em; }
      .footer .control .input.has-focus {
        border-bottom: 2px solid #577EC0; }
    .footer .control textarea.input {
      font-family: inherit; }
  .footer .submit {
    display: block;
    margin: 0 auto;
    padding: 1em 1.2em;
    background-color: #577EC0;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    font-weight: 300; }
    .footer .submit:hover {
      background-color: #3f5a88; }

.border {
  border-top: 5px solid transparent;
  -webkit-border-image: -webkit-linear-gradient(left, #577ec0 0%, #da473b 33%, #f7c53b 66%, #0f9c56 100%);
          border-image: linear-gradient(to right, #577ec0 0%, #da473b 33%, #f7c53b 66%, #0f9c56 100%);
  border-image-slice: 1; }

/* HEADER BOX --------------------------------------- */
@media screen and (min-width: 999px) {
  .header-box {
    width: 325px;
    margin-top: -250px;
    float: right;
    margin-right: 50px; }
    .header-box h1 {
      font-size: 50px; }
    .header-box h2 {
      font-size: 20px; }
    .header-box h3 {
      font-size: 20px; } }

@media screen and (max-width: 999px) {
  .header-box {
    margin-top: -1%; }
    .header-box h1 {
      font-size: 40px; }
    .header-box h2 {
      font-size: 17px; }
    .header-box h3 {
      font-size: 17px; } }

/* MENU --------------------------------------------- */
@media screen and (max-width: 999px) {
  .nav-right {
    display: none; } }

@media screen and (min-width: 999px) {
  .nav-toggle {
    display: none; } }

@media screen and (min-width: 999px) {
  .nav-menu {
    display: none; }
  .nav-menu > li {
    display: none; } }

@media screen and (max-width: 999px) {
  .nav-menu {
    background-color: #eeeeee;
    box-shadow: 0 4px 7px rgba(10, 10, 10, 0.1);
    left: 0;
    display: none;
    right: 0;
    top: 100%;
    position: absolute; }
  .nav-menu.is-active {
    display: block; }
  .nav-menu > li {
    padding: 13px 10px;
    list-style-type: none; }
  .nav-menu > li:hover {
    background-color: #fff;
    font-weight: bold;
    border-left: 5px solid #f7c53b; }
  .nav-menu > li > a {
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    color: #656464;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif; } }

@media screen and (max-width: 999px) {
  .sobre h2 {
    font-size: 25px; } }

/* SOBRE BOX ---------------------------------------- */
@media screen and (max-width: 999px) {
  .sobre-box {
    display: -ms-grid;
    display: grid; }
    .sobre-box .box {
      width: 100%;
      margin-bottom: 30px; } }

/* FOOTER ------------------------------------------- */
@media screen and (max-width: 999px) {
  .footer {
    display: block;
    padding: 0em; }
    .footer .contact-form, .footer .social-media {
      text-align: center;
      padding: 50px;
      width: 100%; } }
