.footer {
  overflow:auto;
  padding: 70px;
  width: 100%;
  background-color: $gray;

  .contact-form {
    padding: 1em 2em;
    flex-grow: 1;
    float: left;
    padding: 0px 30px;
    width: 50%;
  }
  .social-media {
    float: left;
    padding: 0px 30px;
    width: 50%;
  }
  .subtitle {
    font-size: 2em;
    margin-bottom: 1em;
  }
  .control {
    position: relative;
    margin: 2em 0;
    font-size: 1.8em;

    .label {
      position: absolute;
      top: 1em;
      left:0;
      transition: all .4s ease;

      &.is-active {
        top: -1em;
        color: $blue;
        font-size: .8em;
      }
    }
    .input {
      width: 100%;
      padding: .6em 0em;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid $gray-darker;
      outline: none;
      transition: all .4s ease-in;
      font-size: 1em;
        &.has-focus {
          border-bottom: 2px solid $blue;
        }
    }

    textarea.input {
      font-family: inherit;
    }
  }

  .submit {
    display: block;
    margin: 0 auto;
    padding: 1em 1.2em;
    background-color: $blue;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    font-weight: 300;

      &:hover {
        background-color: $blue-darker;
      }
  }
}
.border {
    border-top: 5px solid transparent;
    border-image: linear-gradient(to right, #577ec0 0%, #da473b 33%, #f7c53b 66%, #0f9c56 100%);
    border-image-slice: 1;
}
