.gallery {
  display: block;
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.gallery__controls {
  display: block;
  height: auto;
  position: absolute;
  top: 50%;
  width: 100%;

  .control__left {
    left: 10%;
    position: absolute;
  }

  .control__right {
    position: absolute;
    right: 10%;
  }
}
.gallery__images {
  display: flex;
  flex-flow: row nowrap;
  height: inherit;
  width: auto;
}
.gallery__image {
  height: 100%;
  width: auto;
}
.gallery__skin {
  position: absolute;
  height: 300px;
  width: 99vw;
}
.gallery::-webkit-scrollbar {
    display: none;
}
